*{
    box-sizing:border-box;
}

body{

    margin:0;
    background:#050505;
    color:white;
    font-family:Arial, sans-serif;

}


.app{

    max-width:520px;
    margin:auto;
    padding:25px;

}



.logo{

    text-align:center;
    margin-top:30px;
    font-size:42px;
    font-weight:bold;
    color:#d4af37;
    letter-spacing:2px;

}



.subtitle{

    text-align:center;
    color:#aaa;
    margin-bottom:35px;
    font-size:18px;

}




.card{

    background:#111;
    border:1px solid #d4af37;
    border-radius:25px;
    padding:22px;
    margin-bottom:25px;
    box-shadow:0 0 20px rgba(212,175,55,.15);

}



h2{

    color:#d4af37;
    text-align:center;

}




input,
select{


    width:100%;
    padding:14px;
    margin:8px 0;

    border-radius:12px;
    border:1px solid #333;

    background:#050505;
    color:white;

    font-size:16px;

}



button{


    width:100%;

    padding:15px;

    margin-top:12px;

    border:none;

    border-radius:15px;

    background:#d4af37;

    color:#000;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

}



button:hover{

    transform:scale(1.02);

}




.formula-box{


    background:#080808;

    border:1px dashed #d4af37;

    border-radius:18px;

    padding:18px;

    margin-top:15px;

    line-height:2;

}




.gold{

    color:#d4af37;

    font-weight:bold;

}




#saved .formula-box{


    background:linear-gradient(145deg,#111,#050505);

    border:2px solid #d4af37;

    margin-bottom:20px;

}




hr{

    border-color:#d4af37;

}




.footer{

    text-align:center;

    color:#777;

    margin-top:30px;

}
